Source: ruby-signet
Section: ruby
Priority: optional
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               rake,
               ruby-addressable,
               ruby-faraday (>= 0.17.3~),
               ruby-jwt,
               ruby-multi-json,
               ruby-rspec,
               ruby-simplecov
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-signet.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-signet
Homepage: https://github.com/google/signet/
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-signet
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby-addressable,
         ruby-faraday (>= 0.17.3~),
         ruby-jwt,
         ruby-multi-json,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: ruby-googleauth (<< 0.13~)
Description: Signet is an OAuth 1.0 / OAuth 2.0 implementation
 OAuth is an open standard that allows users to share their private
 resources (e.g. photos, videos, contact lists) stored on one site with
 another site without having to hand out their username and password.
